# Data folders
data/fastq/*
data/groutput/*
data/processed/*
# I am unsure if re-hosting the runtables is a violation of ToS, being cautious.
#data/runtables/*
data/ENA/*
!data/ENA/download.sh
logs/*
*/logs/*
provoc/model_runs/*

# Code output
*__pycache__*
out.log

# Partial files - these files shouldn't persist, but 
# they make it annoying to use git while treatment.sh is running
*fasterq.tmp*

# Data files
*bam
*bai
*fastq
*gz
*fai
*tsv
*usher_barcodes.csv
provoc/gadm/*
*.jar
provoc/model_runs/*
*.pdf
working/*
